# Ignore Parcel cache
.parcel-cache/
# dependencies
/node_modules

# build outputs
/dist
/.parcel-cache

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/
.idea/
*.swp

# env files
.env
.env.*.local
